<div class="navbar-lewagon">
  <div class="navbar-content">
    <h1>Get Boozy</h1>
    <p>Pour out some liquor, make it an old fashioned</p>
  </div>
  <%= link_to "Get Boozy!", root_path %>
  <%= link_to new_cocktail_path do %>
    <button class="btn btn-outline-primary">Add Cocktail</button>
  <% end %>
</div>