.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-size: cover;
  background-position: 0% 10%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 1px rgb(67, 41, 72);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  align-items: center;
  text-align: center;
}